{% extends 'base.html' %}
{% block cuerpo %}

<div class="container">
	<h1 align="center">Evento: {{ instance.titulo }}</h1>
</div>

<div class="w3-row-padding">
	{% if instance.foto1 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto1.url }}" alt="{{ instance.foto1.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto2 %}
	<div class="col-sm-2">
		<div class="thumbnail">
		<img src="{{ instance.foto2.url }}" alt="{{ instance.foto2.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto3 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto3.url }}" alt="{{ instance.foto3.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto4 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto4.url }}" alt="{{ instance.foto4.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto5 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto5.url }}" alt="{{ instance.foto5.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto6 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto6.url }}" alt="{{ instance.foto6.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto7 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto7.url }}" alt="{{ instance.foto7.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto8 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto8.url }}" alt="{{ instance.foto8.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto9 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto9.url }}" alt="{{ instance.foto9.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto10 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto10.url }}" alt="{{ instance.foto10.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto11 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto11.url }}" alt="{{ instance.foto11.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto12 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto12.url }}" alt="{{ instance.foto12.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto13 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto13.url }}" alt="{{ instance.foto13.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto14 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto14.url }}" alt="{{ instance.foto14.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto15 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto15.url }}" alt="{{ instance.foto15.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto16 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto16.url }}" alt="{{ instance.foto16.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto17 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto17.url }}" alt="{{ instance.foto17.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto18 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto18.url }}" alt="{{ instance.foto18.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto19 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto19.url }}" alt="{{ instance.foto19.url }}" style="width:100%" onclick="onClick(this)"
	</div>
	</div>
	{% endif %}
	{% if instance.foto20 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto20.url }}" alt="{{ instance.foto20.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto21 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto21.url }}" alt="{{ instance.foto21.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto22 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto22.url }}" alt="{{ instance.foto22.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto23 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto23.url }}" alt="{{ instance.foto23.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto24 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto24.url }}" alt="{{ instance.foto24.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto25 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto25.url }}" alt="{{ instance.foto25.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto26 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto26.url }}" alt="{{ instance.foto26.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto27 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto27.url }}" alt="{{ instance.foto27.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
	{% if instance.foto28 %}
	<div class="col-sm-2">
	<div class="thumbnail">
		<img src="{{ instance.foto28.url }}" alt="{{ instance.foto28.url }}" style="width:100%" onclick="onClick(this)">
	</div>
	</div>
	{% endif %}
</div> 

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-closebtn w3-hover-red w3-text-white w3-xxlarge w3-container w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom" style="position:absolute; left:25%; width:50%">
    <img id="img01" style="width:100%; height:auto;max-height:100%">
  </div>
</div>

<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
</script>

{% endblock %}