{% extends 'base.html' %}

{% block head %}

img{
	max-height: 300px;
	width: auto;
}

{% endblock %}

{% block button %}
	{% if not user %}
	<div class="col-sm-1 col-xs-2">
		<button class="btn btn-default" onclick="document.getElementById('login').style.display='block'">Login</button></a>
	</div>
	{% else %}
	<div class="col-sm-1 col-xs-2">
		<a href="{% url 'logout' %}"><button class="btn btn-default">Logout</button></a>
	</div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

{% if user %}
<div class="container-fluid w3-center">
	<h2>Bienvenido/a {{ user.first_name }} {{ user.last_name }}</h2>
</div>
{% else%}
<div class="container-fluid w3-center">
	<h2>Bienvenido/a</h2>
</div>
{% endif %}

<!-- Carrusel de Noticias -->

<div class="container">
  <div class="col-sm-10">
  <h2>Ultimas Noticias</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="{% url 'noticia_view' id=last.pk %}"><img src="{{ last.imagen_encabezado.url }}" alt="{{ last.titulo }}" style="width:100%;"></a>
      </div>

      {% for noticia in noticias %}
      <div class="item">
        <a href="{% url 'noticia_view' id=noticia.pk %}"><img src="{{ noticia.imagen_encabezado.url }}" alt="{{ noticia.titulo }}" style="width:100%;"></a>
      </div>
      {% endfor %}
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>

<div class="col-sm-2">
    <h5>MARCO LOCAL DE CONVIVENCIA ESCOLAR</h5>
    <ul class="w3-ul">
    {% load static %}
      <li><a href="{% static 'noticias/files/marco_local_secundaria_oxford.pdf' %}">Secundaria</a></li>
      <li><a href="{% static 'noticias/files/marco_local_primaria.pdf' %}">Primaria</a></li>
      <li><a href="{% static 'noticias/files/marco_local_preescolar.pdf' %}">Preescolar</a></li>
      <li><a target="_blank" href="http://msecundariaoxford.sytes.net/squirrelmail/src/login.php"><span class="glyphicon glyphicon-envelope"></span></a><a target="_blank" href="http://msecundariaoxford.sytes.net/moodle/"><span style="padding-left: 5mm;" class="glyphicon glyphicon-education"></span></a></li>
    </ul>
  </div>
</div>
<br>

<!-- Modal Login access -->
<div class="w3-modal" id="login">
  <div class="w3-modal-content w3-card-4 w3-animated-top">
  <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
  <div class="w3-container">
    <p>Bienvenido!. Por Favor Inicia Sesion.</p>
    <form method="POST" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login" />
    </form>
  </div>
  </div>
</div>

{% endblock %}
