{% extends 'base.html' %}

{% block style %}
<style>
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
img{
	max-width: 100%;
	height: auto;
}

p.inicio::first-letter {
    color: #000000;
    font-size: xx-large;
}
</style>
{% endblock %}

{% block cuerpo %}	

<div class="container">
	<div class="container w3-center">
		<img src="{{ noticia.imagen_encabezado.url }}" width="460" height="300">
	</div>

	<div class="container w3-center">
		<h1>{{noticia.titulo | upper}}<small class="text-right">{{ noticia.fecha_publicacion | date }}</small></h1>
	</div>

	<br>
	<div class="newspaper">
	<p class="inicio">{{ noticia.texto_principal }}</p>
	<br>
	
	{% if noticia.imagen_secundaria %}
	<img src="{{ noticia.imagen_secundaria.url }}" width="250" height="100">
	<br>
	<p>{{ noticia.texto_secundario }}</p>
	<br>
	{% endif %}

	{% if noticia.imagen_terciaria %}
	<p>{{ noticia.texto_terciaria }}</p>	
	<br>
	<img src="{{ noticia.imagen_terciaria.url }}" width="250" height="100">
	<br>
	{% endif %}
	</div>

	{% if noticia.link_galeria %}
	<p>Link: <a href="{{ noticia.link_galeria }}">Galeria</a></p>
	<br>
	{% endif %}

	{% if noticia.autor %}
	<p>Escrito por: {{ noticia.autor }}</p>
	<br>
	{% endif %}
	
</div>

{% endblock %}
